.categories {
    padding: 20px;
    text-align: center;
    background-color: #ffd3db;
  }
  
  .category-items {
    display: flex;
    justify-content: center;
    
  }
  
  .category {
    position: relative;
    margin: 0 50px;
  }
  
  .category img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 60%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .category img:hover {
    transform: scale(1.05);
  }
  
  .category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
  }
  
  .hot-selling {
    display: flex; 
    justify-content: center; 
    gap: 20px;
    /* flex-wrap: wrap; */
  }