.product-card {
    text-align: center;
    padding-left: 50px;
  }
  
  .product-card img {
    width: 300px;
    height: auto;
  }
  
  .product-card p {
    font-size: larger;
    margin: 5px 0;
  }