.cart-container {
    display: flex;
    padding: 20px;
    background-color: #F5D6BF;
    height: 100vh;
    flex: 1;
    
  }
  
  .cart-items {
    flex: 1;
    margin-right: 20px;
  }
  
  .cart-items h2,
  .cart-subtotal h2 {
    font-size: 20px;
    color: #4f4f4f;
    margin-bottom: 20px;
    flex: 1;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f4f0;
    padding: 10px;
  }
  
  .item-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .item-name {
    font-size: 18px;
    color: #4f4f4f;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .quantity-button {
    background-color: #8F4269;
    color: #f9f4f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .quantity {
    font-size: 16px;
    width: 30px;
    text-align: center;
    background-color: #FFD3DB;
    padding: 3px;
  }
  
  .cart-subtotal {
    flex: 1;
    padding: 20px;
    height: fit-content;
    background-color: #f9f4f0;
    border-radius: 5px;
  }
  
  .subtotal-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .subtotal-image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .subtotal-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .subtotal-details p {
    font-size: 16px;
    color: #4f4f4f;
  }

  .item-quantity-display p{
    align-items: center;
    vertical-align: middle;
    position: relative;
    left: 50%;
    top: 50%;
  }
  
  .total {
    font-size: 18px;
    font-weight: bold;
    color: #4f4f4f;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  /* .checkout-button {
    background-color: #a45b3f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  } */
  
  .checkout-button {
    background-color: #DA7073; /* Coral color for button */
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    
    
}

.checkout-button:hover {
    background-color: #da565a; /* Dark pink color on hover */
}